language: python
python:
- '3.6'
branches:
  only:
  - master
  - develop
  - "/^release-.*$/"
  - travis-test
install:
- pip install wheel
script:
- python setup.py test
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: iconfoundation
  password: $PYPI_PW
  on:
    tags: true
    branch: master
    condition: $TRAVIS_TAG =~ ^([0-9]+)(\.[0-9]+){1,2}$
